<ion-header>
  <ion-toolbar>
    <ion-title>
      Saved Houses
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <figure>
    
    <img src="https://images.prop24.com/FetchImage.ashx?uid=192307439" alt="Saved1" style="width:100%">
    <figcaption>Last viewed 2 days ago.</figcaption>
    <img src="https://townsquare.media/site/204/files/2018/08/spectacular-celebrity-homes.jpg" alt="Saved2" style="width:100%">
    <figcaption>Last viewed 5 days ago.</figcaption>
  </figure>  



</ion-content>




